/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2015, 3:24:10 PM
    Author     : SA272015
*/
.box-outer{
    width:90%;
    margin:0 auto;
    
}
.box-inner-left{
    width:50%;
    float:left;
}
.box-inner-dropdown{
    width:50%;
    float:left;
}